@import 'base/normalize'
@import 'base/reset'
@import 'variables/colors'
@import 'variables/gutters'
@import 'fonts/fonts'


%container
  max-width: 1200px
  margin: auto
  padding: 0 $gutter-size

%button
  display: inline-flex
  flex-basis: 200px
  justify-content: center

  padding: $gutter-size

  transition: background-color .3s ease
  text-decoration: none

  color: $text-color
  border: 0
  border-radius: 3px

  font-size: 20px
  font-weight: 800

  &:hover
    cursor: pointer

  @media only screen and (max-width: 480px)
    display: flex
    flex-basis: 100%

    &:not(:last-of-type)
      margin-bottom: 20px

  @media only screen and (min-width: 481px)
    &:not(:last-of-type)
      margin-right: $gutter-size-big


%section-title
  margin-top: 0
  margin-bottom: 50px
  padding: 0

  color: $section-title-color

  font-size: 34px
  font-weight: 800

  @media only screen and (max-width: 768px)
    margin-bottom: 30px

    font-size: 30px

@mixin button-state($bg-color, $amount: 5%)
  background-color: $bg-color

  &:hover
    background-color: lighten($bg-color, $amount)

  &:focus,
  &:active
    background-color: darken($bg-color, $amount)

@mixin background-image($name)
  background-image: url('../img/#{$name}.jpg')
  background-position: center
  background-size: cover

@mixin with-overlay($bg-color: $overlay-color)
  position: relative

  &::after
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

    content: ''
    transition: background-color .3s ease

    background-color: $bg-color

body
  min-width: 320px

  color: $text-color

  font-family: 'raleway', sans-serif

.main-header
  display: grid
  align-items: center
  justify-content: center

  min-height: 100vh

  @include with-overlay
  @include background-image('header')
  grid-template-columns: 1fr

  &__container
    position: relative
    z-index: 1

    padding: 0 $gutter-size

  &__title
    text-align: center

    font-family: 'intro', sans-serif
    font-size: 60px
    font-weight: normal

    @media only screen and (max-width: 768px)
      font-size: 45px

  &__buttons
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__button
    @extend %button

    &:first-of-type
      @include button-state($button-main-bg-color)

    &:nth-of-type(2)
      @include button-state($button-secondary-bg-color, 2%)

.section-cool-items
  display: grid

  padding: $gutter-size-small

  grid-gap: $gutter-size-small

  @media only screen and (max-width: 480px)
    grid-template-columns: 1fr

  @media only screen and (min-width: 481px) and (max-width: 768px)
    grid-template-columns: repeat(2, 1fr)

  @media only screen and (min-width: 769px) and (max-width: 968px)
    grid-template-columns: repeat(3, 1fr)

  @media only screen and (min-width: 969px)
    grid-template-columns: repeat(4, 1fr)


  &__item
    display: grid
    align-items: center
    justify-content: center

    transition: color .3s ease
    text-decoration: none

    color: $text-color

    font-size: 22px
    font-weight: bold

    @include with-overlay($overlay-color-light)


    @media only screen and (max-height: 400px)
      min-height: calc(50vh - 10px)

    @media only screen and (min-height: 401px)
      min-height: calc(33vh - 10px)


    &:hover
      color: $accent-color

      &::after
        background-color: $overlay-color

    @for $index from 1 through 9
      &:nth-of-type(#{$index})
        @include background-image('/section-cool-items/#{$index}')

    &:nth-of-type(1)
      @media only screen and (min-width: 481px)
        grid-column: 1 / 3

    &:nth-of-type(4)
      @media only screen and (min-width: 481px) and (max-width: 768px)
        grid-column: 1 / 3

      @media only screen and (min-width: 769px) and (max-width: 968px)
        grid-column: 2 / 4

    &:nth-of-type(5)
      @media only screen and (max-width: 968px)
        grid-column: 1 / 2

      @media only screen and (min-width: 969px)
        grid-column: 2 / 4

    &:nth-of-type(6)
      @media only screen and (min-width: 768px) and (max-width: 968px)
        grid-column: 3
        grid-row:  3 / 5

      @media only screen and (min-width: 969px)
        grid-column: 4
        grid-row:  2 / 4

    &:nth-of-type(7)
      @media only screen and (min-width: 481px) and (max-width: 768px)
        grid-column: 1 / 3

  &__item-name
    position: relative
    z-index: 1

.section-are-you-ready
  padding: 40px 0

  color: $section-are-you-ready-text-color
  background-color: $section-are-you-ready-bg-color


  &__container
    @extend %container


  &__content
    display: grid
    align-items: center

    @media only screen and (max-width: 768px)
      grid-template-columns: 1fr

    @media only screen and (min-width: 769px)
      grid-template-columns: 1fr 1fr


  &__text-wrapper
    @media only screen and (min-width: 769px)
      padding:
        top: 40px
        right: 50px
        bottom: 40px


      border-right: 1px solid $section-are-you-ready-border-color


  &__title
    @extend %section-title

  &__text
    margin: 0
    padding: 0

    font-size: 18px
    line-height: 1.5

    @media only screen and (max-width: 768px)
      &:not(:last-of-type)
        margin-bottom: 20px

    @media only screen and (min-width: 769px)
      &:not(:last-of-type)
        margin-bottom: 35px

  &__image
    display: flex

    width: 100%
    height: auto
    margin: auto

    @media only screen and (max-width: 768px)
      max-width: 300px
      margin-top: 30px

.section-form
  padding: 25px 0

  background-color: $section-form-bg-color

  &__container
    @extend %container

  &__form
    display: grid

    grid-gap: $gutter-size

    @media only screen and (max-width: 500px)
      grid-template-columns: 1fr

    @media only screen and (min-width: 501px) and (max-width: 968px)
      grid-template-columns: repeat(2, 1fr)

    @media only screen and (min-width: 969px)
      grid-template-columns: repeat(4, 1fr)

  &__input
    height: 53px
    padding: $gutter-size

    transition: background-color .3s ease

    color: $section-form-input-text-color
    border: none
    outline: none
    background-color: $section-form-input-bg-color

    &:focus
      color: $section-form-input-focus-text-color
      background-color: $section-form-input-focus-bg-color

    &::-webkit-input-placeholder
      color: $section-form-input-placeholder-color
    &::-moz-placeholder
      color: $section-form-input-placeholder-color
    &:-ms-input-placeholder
      color: $section-form-input-placeholder-color
    &:-moz-placeholder
      color: $section-form-input-placeholder-color

  &__button
    @extend %button
    @include button-state($button-main-bg-color)

.section-blog
  padding: 70px 0

  &__container
    @extend %container

  &__title
    @extend %section-title

  &__items
    display: grid

    grid-gap: $gutter-size

    @media only screen and (max-width: 480px)
      grid-template-columns: 1fr

    @media only screen and (min-width: 481px) and (max-width: 968px)
      grid-template-columns: repeat(2, 1fr)

    @media only screen and (min-width: 969px)
        grid-template-columns: repeat(4, 1fr)

  &__item
    display: grid
    overflow: hidden
    align-items: center

    transition: backgound-color .3s ease
    text-align: center
    text-decoration: none

    background-color: #F7F7F7

    grid-template-rows: 1fr 1fr

    &:hover
      background-color: #ededed

      .section-blog
        &__item-title
          color: #293a43

        &__item-image
          transform: scale(1.05) translateY(-6.5px)

    &:nth-of-type(3)
      @media only screen and (min-width: 969px)
        grid-column: 3 / 5

    &:nth-of-type(4)
      @media only screen and (min-width: 969px)
        grid-column: 1 / 3

    @for $index from 1 through 6
      &:nth-of-type(#{$index})
        .section-blog__item-image
          @include background-image('/section-blog/#{$index}')


  &__item-image
    height: 270px

    transition: transform .3s ease

  &__item-text-wrapper
    display: grid
    align-items: center
    justify-content: center

    padding: $gutter-size

    line-height: 1.75

  &__item-title
    margin: 0 0 20px
    padding: 0

    transition: color .3s ease

    color: $section-blog-title-text-color

    font-size: 18px
    font-weight: bold

  &__item-text
    margin: 0
    padding: 0

    color: #333333

    font-size: 16px

.main-footer
  padding: 50px 0

  text-align: center

  color: #4E5355
  background-color: #1B2429

  @media only screen and (max-width: 768px)
    padding: 20px 0

  &__container
    @extend %container

  &__logo
    margin-bottom: 30px

    font-family: 'intro', sans-serif
    font-size: 22px

    @media only screen and (max-width: 768px)
      margin-bottom: 15px

  &__logo-span
    display: flex
    justify-content: center

    color: #707476

    font-size: 27px

  &__copyright
    margin-top: 0
    padding-top: 0

    font-size: 20px
